*{
	padding: auto;
	margin: auto;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	

}

.navbar{
	width: 100%;
	height: 80px;
	background-color: #fee;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}
.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 18px;
}
.menu ul li a:hover{
	border-bottom: 4px solid #000;
	transition: 0.4s;
} 

.reserva a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px 30px;
	border: 2px solid #ff0000;
}
.reserva a:hover{
	background-color: red;
    color: white;
	transition: 0.6s;
}
.body{
	display: flex;
	justify-content:start;
	align-items: top;
	background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(../imagens/grutas-do-Nzenzo.png);
	background-position: center;
	background-size: cover;
}
#centerImg{
    display: flex; /* coloca as imagens uma ao lado da outra */
    /*justify-content: center;*/ /* alinha as imagens no centro da tela */
    padding-left: 20px;
}
.heading{
	width: 60%;
	text-align: left;
	color: #fff;
	padding: 20px;
	margin: 20px;
}
.heading h1{
	font-size: 40px;
    color: #ff9807;
}
.heading h2{
    color: #ff9807;
}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
}
.heading a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
.heading2 h2{
    color: #ff9807;
}
.heading2{
	width: 40%;
	text-align: left;
	color: #fff;
	padding: 20px;
	margin: 20px;
}
.heading2 h1{
	font-size: 40px;
}
.heading2 a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
}
.heading2 a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}

.form input{
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    padding: auto;
    width: 400px; 
    height: 25px;
    text-align: center;
    border-color: rgba(0, 0, 255, 0.358);
}
.form textarea{
    width: 400px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border-color: rgba(0, 0, 255, 0.358);
    border-width: 2px;
}
.form p{
    padding-top: 10px;
}

 
/*
.form button{
    background: linear-gradient(rgb(147, 239, 147), rgb(0, 255, 94), rgb(0, 108, 32));
    width: 80px;
    border-radius: 10px;
    height: 30px;
    border: none;
}
button:hover{
    width: 100px;
    font-size: larger;
    cursor: pointer;
    border: none;
    transition: 0.4s;
} 
*/
.form button{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px 30px;
	border: 2px solid #ff0000;
    background-color: #ff00006b;
    letter-spacing: 1px;
}
.form button:hover{
	background-color: red;
    color: white;
	transition: 0.6s;
    cursor: pointer;
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #fee;
    --color-neutral-10: #dfd5d5;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #000000;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: auto;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #000000;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}