
*{
	padding: auto;
	margin: auto;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.navbar{
	width: 100%;
	height: 80px;
	background-color: #fee;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}
.menu ul{
	display: flex;
	align-items: center;
	list-style: none;
}
.menu ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 18px;
}
.menu ul li a:hover{
	border-bottom: 4px solid #000;
	transition: 0.4s;
} 
.signup a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px 30px;
	border: 2px solid #ff0000;
}
.signup a:hover{
	background-color: red;
	transition: 0.6s;
}
.body{
	display: flex;
	justify-content:start;
	align-items: top;
	background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)),url();
	background-position: center;
	background-size: cover;
	width: auto;
	height: auto;
}
#centerImg{
    display: flex; /* coloca as imagens uma ao lado da outra */
    justify-content: center; /* alinha as imagens no centro da tela */ 
}
.heading{
	width: 100%;
	text-align: left;
	color: #fff;
	padding: 20px;
	margin: 20px;
}
.heading h1{
	font-size: 40px;
}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
}
.heading a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #fee;
    --color-neutral-10: #dfd5d5;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #000000;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: auto;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {   
    color: #000000;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}  









/* FONTES 
************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* RESET E DEFINIÇÃO DE FONTES
******************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* VARIAVEIS 
********************************* */
:root {
    --color-main-one: #FFA500;
    --color-main-two: #FFFFFF;
    --color-main-tree: #121212;
}

/* VARIÁVEIS REUTILIZAVEIS 
****************************************** */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--color-main-one);
}

ul {
    list-style: none;
}

header .container {
    justify-content: space-between;
}

.general {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/0003_uige-angola.jpg) no-repeat;
    background-position: left;
    background-size:cover;
    object-fit: cover;
}

.container {
    display: flex;
    width: 100%;
    max-width: 81rem;
    margin: 0 auto;
    overflow: hidden;
}

/* MENU MOBILE 
******************************* */
.links .menu-mobile {
    color: var(--color-main-one);
    font-size: 30px;
    display: none;
    cursor: pointer;
}

/* MENU NORMAL
******************************* */
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul {
    display: flex;
    height: 70px;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

.links ul li a {
    display: inline-block;
    margin: 0 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;

}

.links ul li a:hover {
    margin: 0 1rem;
    color: var(--color-main-two);
}



.collums {
    padding-top: 5%;
    display: grid;
    grid-template-areas:
        "c1 c2"
        "c1 c2";
}

.collum-left {
    grid-area: c1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    padding-left: 10%;
    max-width: 600px;
}



.collum-left h1 {
    font-size: 40px;
    color: #FFA500;
    padding-bottom: 10px;
    animation: 1s titletLeft forwards;
}


.collum-left p {
    display: flex;
    justify-content: flex-end;
    font-family: '', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--color-main-two);
    animation: 2s textTop forwards;

}

.collum-right {
    grid-area: c2;
    width: 100%;
    text-align: center;
}

.card {
    width: 250px;
    height: 230px;
    border-radius: 20px;
    padding: 15px 25px;
    margin: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: bottom;
    background-size: contain;
    display: inline-block;
    transition: .7s;
}

.card:hover {
    transform: translateY(-3px);
    opacity: .7;
    transition: .5s;
}

.card h5 {
    color: #121212;
    transition: .5s;
}

.card:hover h5 {
    color: var(--color-main-two);
    transform: translateY(100px);
    font-size: 15px;
}

.card1 {
    background: url(../imagens/grutas-do-Nzenzo.png);
    background-position: center;
    background-size: cover;
}

.card1 p {
    display: none;
}

.card2 {
    background: url(../imagens/lagoa\ do\ feitiço.jpeg);
    background-position: center;
    background-size: cover;
}

.card3 {
    background: url(../imagens/RESERVA\ FLORESTAL\ DO\ BÉU.jpg);
    background-position: center;
    background-size: cover;
}

.card4 {
    background: url(../imagens/LAGO\ MUFUTUTU.jpg);
    background-position: center;
    background-size: cover;
}

.collum-left button {
    margin-top: 20px;
    padding: 12px 18px;
    width: 200px;
    border-radius: 50px;
    border: none;
    outline: none;
    line-height: 1;
    text-align: center;
    background: var(--color-main-one);
    color: #000;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s linear;
    animation: 3s buttonBottom forwards;
}

button:hover {
    background: transparent;
    border: 1px solid var(--color-main-one);
    color: var(--color-main-one);
    font-weight: 600;
}

/* @ MEDIA 1320PX
***************************** */
@media (max-width: 1320px) {
    .links ul {
        padding-right: 30%;
    }

    .card {
        width: 220px;
        height: 180px;
    }

    .collum-left {
        max-width: 500px;
        /*  max-height: 500px; */
        padding-left: 10%;
    }

    .card:hover h5 {
        color: var(--color-main-two);
        transform: translateY(100px);
        font-size: 15px;

    }
}

/* @ MEDIA 1300PX
***************************** */
@media (max-width: 1300px) {
    .collum-right {
        padding-top: 15%;
    }
}

/* @ MEDIA 1040PX
***************************** */
@media (max-width: 1040px) {
    .collum-right {
        padding-top: 15%;
    }

    .card {
        width: 220px;
        height: 180px;
    }

    .card h5 {
        font-size: 10px;
    }

    .card:hover h5 {
        color: var(--color-main-two);
        transform: translateY(100px);
        font-size: 11px;

    }
}

/* @ MEDIA 1005PX
***************************** */
@media (max-width: 1005px) {

    /* MENU MOBILE */
    .links .menu-mobile {
        display: block;
        padding-top: 2rem;
        position: absolute;
        top: 0;
        right: 10%;
        outline: none;
        border: none;
    }

    .container .links {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* ESCONDE O MENU NORMAL */
    .container .links ul {
        display: none;
    }

    /* INSERE A CLASSE active NO MENU PARA EXIBIR A UL MOBILE ATRAVÉS DO JAVASCRIPT */
    .container .links.active ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 0;
        background-color: var(--color-main-tree);
    }

    .container .links ul li a {
        padding-top: 30%;
    }

    .logo {
        display: none;
    }

    .collums {
        width: 100%;
        margin: 0 auto;
        padding-top: 5%;
        display: grid;
        grid-template-areas:
            "c1 c1"
            "c2 c2";
    }

    .collum-left {
        width: 100%;
        min-width: 80%;
        grid-area: c1;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    .collum-left h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    .collum-right {
        width: 100%;
        min-width: 100%;
        grid-area: c2;
        padding-top: 15%;
        justify-content: center;
    }

    .card {
        width: 180px;
        height: 170px;
    }

    .card h5 {
        font-size: 10px;
    }

    .card:hover h5 {
        color: var(--color-main-two);
        transform: translateY(100px);
        font-size: 11px;
    }
}

/* @ MEDIA 775PX
***************************** */
@media (max-width: 775px) {
    .collum-left {
        max-width: 300px;
        padding-bottom: 20px;
    }

    .collum-left h1 {
        font-size: 30px;
        padding-top: 20%;
    }

    .collum-left p {
        font-size: 15px;
    }

    .collum-left button {
        width: 130px;
        font-size: 12px;
    }

    .collum-right {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0;
    }

    .card {
        width: 80%;
        /* height: 100px; */

    }
}
